In [13]:
import pandas as pd 

df = pd.read_excel ('filmes.xlsx')

In [14]:
df["faixa_etaria"] = df["faixa_etaria"].str.replace(r'^.*\n', '', regex=True)
display(df)

                                    nome   faixa_etaria   ano
0               1. Um Sonho de Liberdade     2h 22m\n16  1994
1                   2. O Poderoso Chefão     2h 55m\n14  1972
2      3. Batman: O Cavaleiro das Trevas     2h 32m\n12  2008
3         4. O Poderoso Chefão: Parte II     3h 22m\n14  1974
4            5. 12 Homens e uma Sentença  1h 36m\nLivre  1957
..                                   ...            ...   ...
245            246. Na Natureza Selvagem     2h 28m\n12  2007
246                247. Feitiço do Tempo     1h 41m\n12  1993
247              248. Histórias Cruzadas     2h 26m\n12  2011
248                   249. Amores Brutos     2h 34m\n16  2000
249  250. Rebecca, a Mulher Inesquecível     2h 10m\n12  1940

[250 rows x 3 columns]

In [15]:
df["faixa_etaria"] = df["faixa_etaria"].str.replace(r'^.*\n', '', regex=True)
display(df)

                                    nome faixa_etaria   ano
0               1. Um Sonho de Liberdade           16  1994
1                   2. O Poderoso Chefão           14  1972
2      3. Batman: O Cavaleiro das Trevas           12  2008
3         4. O Poderoso Chefão: Parte II           14  1974
4            5. 12 Homens e uma Sentença        Livre  1957
..                                   ...          ...   ...
245            246. Na Natureza Selvagem           12  2007
246                247. Feitiço do Tempo           12  1993
247              248. Histórias Cruzadas           12  2011
248                   249. Amores Brutos           16  2000
249  250. Rebecca, a Mulher Inesquecível           12  1940

[250 rows x 3 columns]

In [16]:
df['faixa_etaria'] = df['faixa_etaria'].str.replace('Livre', '0')
print(df['faixa_etaria'])

0      16
1      14
2      12
3      14
4       0
       ..
245    12
246    12
247    12
248    16
249    12
Name: faixa_etaria, Length: 250, dtype: object

In [ ]:
df['faixa_etaria'] = df['faixa_etaria'].astype(int)
print(df['faixa_etaria'])

ValueError: could not convert string to float: 'Not Rated'